@charset "UTF-8";
/* estilos header en todos los HTML */
.headercontainer {
  width: 100%;
  border: 1px solid black; }

.banner {
  width: 100%;
  background-color: black; }

.bannerstyle {
  width: 75%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* estilo menú navegable*/
#nav-container {
  margin-left: 50%;
  width: 50%;
  display: flex;
  justify-content: end; }

#nav-menu {
  width: 90%;
  display: flex;
  justify-content: space-evenly; }
  #nav-menu li {
    list-style: none; }

.navimg {
  width: 90%; }
  .navimg:hover {
    transform: scale(120%);
    transition: all 1s; }

a {
  text-decoration: none; }

body {
  width: 100%;
  background-image: url("../varios/background.jpg");
  background-repeat: repeat;
  background-size: cover; }

/* estilos para el footer */
.titlefooter {
  width: 10%;
  margin-left: 3%; }

.redes-container {
  width: 90%;
  margin-left: 5%;
  display: flex; }

.red1 {
  margin-right: -10%; }

.red2 {
  margin-right: -10%; }

.logoinsta {
  width: 40%; }

/* estilo imagenes*/
.imgGal {
  max-width: 95%;
  margin: 10px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.15), 2px 2px rgba(0, 0, 0, 0.15), 4px 4px rgba(0, 0, 0, 0.15), 8px 8px rgba(0, 0, 0, 0.15); }
  .imgGal:hover {
    transform: scale(160%) translateX(15%);
    transition: all 1.25s; }

/* Comisionistas*/
.imgComi {
  max-width: 95%;
  margin: 10px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.15), 2px 2px rgba(0, 0, 0, 0.15), 4px 4px rgba(0, 0, 0, 0.15), 8px 8px rgba(0, 0, 0, 0.15); }
  .imgComi:hover {
    transform: scale(213%) translateX(15%) translateY(26.5%);
    transition: all 1.25s; }

/* posicionamiento logos de contacto */
.logoComiInsta {
  margin-left: 6%; }

.logoComiWs {
  margin-left: 0.5%; }

.comilogo {
  width: 3%; }

.imglogocomi {
  max-width: 95%;
  margin: 10px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.15), 2px 2px rgba(0, 0, 0, 0.15), 4px 4px rgba(0, 0, 0, 0.15), 8px 8px rgba(0, 0, 0, 0.15); }

/* publicidad style*/
.contenedor-publicidad {
  width: 25%;
  position: absolute;
  right: 0;
  top: 60%;
  padding-left: 5%; }

.img-aside {
  width: 70%; }

.titlesection {
  width: 15%;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px; }

.titlesite {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto; }

.trabDelMes-container {
  margin-left: 5%;
  margin-bottom: 2%;
  width: 75%;
  height: 75%; }

.iframe-container {
  width: 90%;
  margin: 0% 5% 2% 5%;
  display: flexbox;
  justify-content: start; }

/* grid galerias */
.galcontainer {
  margin-left: 5%;
  width: 75%;
  height: 75%; }

.trabDelMes-container, .iframe-container, .galcontainer {
  border: 2px solid #9ac746;
  padding: 1%;
  border-radius: 5px; }

.altborder1 {
  border: 3px;
  border-style: purple;
  border-color: inset;
  border-radius: 10px; }

.altborder2 {
  border: 6px;
  border-style: #8ac766;
  border-color: groove;
  border-radius: 7px; }

/* estilo boton para ir al top*/
#iralcielo {
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* tamaño en iframes*/
.artEnAccIframe {
  max-width: 100%;
  max-height: 90%; }

/* mediaq */
@media screen and (max-width: 990px) {
  .contenedor-publicidad {
    display: none; }
  .nav-container {
    display: none; } }

@media screen and (min-width: 990px) {
  .navbar-mobile {
    display: none; } }

.disclaimer {
  display: none;
}