@import "components/header";
@import "components/body";
@import "components/footer";
@import "base/imagenes.scss";
@import "components/comisionistas";
@import "base/publicidad";
@import "base/titulos";
@import "base/contenedores";
@import "base/extends";
@import "base/mixins";

/* estilo boton para ir al top*/
#iralcielo {
	width: 10%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* tamaño en iframes*/
.artEnAccIframe {
	max-width: 100%;
	max-height: 90%;
}

/* mediaq */
@media screen and (max-width: 990px) {
	.contenedor-publicidad {
		display: none;
	}
	.nav-container {
		display: none;
	}
}
@media screen and (min-width: 990px) {
	.navbar-mobile {
		display: none;
	}
}