@import "components/header";
@import "components/body";
@import "components/footer";
@import "base/imagenes.scss";
@import "components/comisionistas";
@import "base/publicidad";
@import "base/titulos";
@import "base/contenedores";
@import "base/extends";
@import "base/mixins";

/* estilo boton para ir al top*/
#iralcielo {
	width: 10%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#iralcielomobile {
	width: 17%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* tamaño en iframes*/
.artEnAccIframe {
	max-width: 100%;
	max-height: 90%;
}

.artEnAccIframemobile {
	max-width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
}



/* mediaq */
@media screen and (max-width: 990px) {
	.contenedor-publicidad {
		display: none;
	}
	.nav-container {
		display: none;
	}
	.iframe-container{
		display: none;
	}
	.titledesktop{
		display: none;
	}
	.trabDelMes-container{
		display: none;
	}
	.titlefooter{
		display: none;
	}
	.redes-container{
		display: none;
	}
	#iralcielo{
		display: none;
	}
	.galcontainer{
		display: none;
	}
	.logoComiInsta{
		display: none;
	}
	.logoComiWs{
		display: none;
	}
}

@media screen and (min-width: 990px) {
	.navbar-mobile {
		display: none;
	}
	.contenedor-publicidadmobile {
		display: none;
	}
	.iframe-containermobile{
		display: none;
	}
	.titlemobile{
		display: none;
	}
	.trabDelMes-containermobile{
		display: none;
	}
	.titlefootermobile{
		display: none;
	}
	.redes-containermobile{
		display: none;
	}
	.redes-containermobile{
		display: none;
	}
	#iralcielomobile{
		display: none;
	}
	.galcontainermobile
	{
		display: none;
	}
}