/* estilos para el footer */
.titlefooter {
	width: 10%;
	margin-left: 3%;
}

.redes-container {
	width: 90%;
	margin-left: 5%;
	display: flex;
}
.red1 {
	margin-right: -10%;
}
.red2 {
	margin-right: -10%;
}
.logoinsta {
	width: 40%;
}

/* footer mobile */
.titlefootermobile {
	width: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.redes-containermobile {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.logoinstamobile {
	width: 60%;
}
