.trabDelMes-container {
	margin-left: 5%;
	margin-bottom: 2%;
	width: 75%;
	height: 75%;
	@extend %bordes;
}

.trabDelMes-containermobile, .galcontainermobile {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
	width: 75%;
	height: 75%;
}

.iframe-container {
	width: 90%;
	margin: 0% 5% 2% 5%;
	display: flexbox;
	justify-content: start;
	@extend %bordes;
}

/* grid galerias */
.galcontainer {
	margin-left: 5%;
	width: 75%;
	height: 75%;
	@extend %bordes;
}

/*iframe mobile*/
.iframe-iframe-containermobile {
	width: 50%;
	margin: 0% 5% 2% 5%;
	display: flexbox;
	justify-content: center;
}