.titlesection {
	width: 15%;
	padding-top: 5px;
	padding-bottom: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 60px;
}

.titlesite {
	display: block;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}